.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  @media (max-width: 835px) {
    margin-top: 15%;
  }
  @media (max-width: 500px) {
    margin-top: 30%;
  }
  @media (max-width: 345px) {
    margin-top: 35%;
  }

  div {
    width: 300px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    padding-top: 17px;
    background-color: rgb(106, 106, 235);
    transition: all 0.5s;

    @media (max-width: 320px) {
      width: 200px;
      height: 40px;
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }

    &:active {
      background-color: rgb(47, 47, 114);
    }
  }
}

.close {
  position: absolute;
  bottom: 77%;
  left: 70%;
  transition: all 0.5s;
  @media (max-width: 835px) {
    left: 80%;
  }
  @media (max-width: 580px) {
    left: 85%;
  }
  @media (max-width: 500px) {
    left: 45%;
  }

  &:hover {
    transform: scale(1.5);
    cursor: pointer;
  }
}
